@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,400;0,700;1,500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1492707892479-7bc8d5a4ee93");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

h2, h3, h4, h5 {
    font-family: Raleway, sans-serif;
    font-weight: 500;
}
h1 {
    font-family: Raleway, sans-serif;
  /* font-size: 2.5rem; */
  margin: 2rem 0;
  font-weight: 700;
}

h2 {
  /* font-size: 2rem; */
  margin-bottom: 1.5rem;
}

h3 {
  /* font-size: 2rem; */
  margin-bottom: 1rem;
}

.content-box {   
  display: flex;
  flex-basis: 1;
  flex-shrink: inherit;
  flex-grow: inherit;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 80vw;
  max-width: 80rem;
  min-height: 80px;
  margin: 5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 2em;
}

li {
    line-height: 2.5em;
}

.hidden {
  display: none;
}

.stats,
.end {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  padding: 1rem;
}

.box {
  margin: 2rem;
  padding: 5rem;
}

a,
a:visited {
  text-decoration: none;
}

.btn {
  font-size: 1.25rem;
  padding: 0.5rem 0;
  width: 15rem;
  text-align: center;
  margin: 0rem 1rem;
  color: #000;
  background: antiquewhite;
  border-radius: 4px;
  text-decoration: none;
}

btn:hover {
  cursor: pointer;
}

.choice-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(78, 77, 77);
  color: #fff;
  border-radius: 10px;
  /* font-size: 3rem; */
  min-width: 40rem;
  padding: 1rem;
  margin: 1rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
  transform: scale(1.02);
  transform: transform 100ms;
}

.choice-prefix {
  padding-right: 1rem;
  text-align: center;
}

.choice-text {
  padding-left: 1rem;
  /* font-size: 1.5rem; */
  width: 80%;
  text-align: center;
}

.correct {
  background: linear-gradient(
    32deg,
    rgb(3, 129, 18),
    0%,
    rgb(44, 180, 94) 100%
  );
}

.incorrect {
  background: linear-gradient(
    32deg,
    rgb(186, 3, 3),
    0%,
    rgb(132, 37, 37) 100%
  );
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: .2rem solid  rgb(44, 180, 94);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}
#progressBarFull {
    height: 100%;
    background:  rgb(44, 180, 94);
    width: 0%;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    margin: 2rem;
    padding: 5rem;
    font-size: 3rem;
    text-align: center;
}

 @media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
} 
